# Visual Studio Code
.vscode

# User-specific files
*.suo
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
[Dd]ist/
[Dd]ist/

# Visual Studio 2015
.vs/

# DNX
project.lock.json
project.fragment.lock.json
artifacts/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Click-Once directory
publish/


# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

/Ringer.Aws.CloudFront/Properties/launchSettings.json
/Ringer.Aws.Shared/Properties/launchSettings.json
/Ringer.Common.Email/Properties/launchSettings.json
/Ringer.Common.TTLUpdate/Properties/launchSettings.json
/Ringer.Controller.Client/Properties/launchSettings.json
/Ringer.Data.Billing/Properties/launchSettings.json
/Ringer.Data.ConnectionContext/Properties/launchSettings.json
/Ringer.Data.Dialer/Properties/launchSettings.json
/Ringer.Data.Hive/Properties/launchSettings.json
/Ringer.Data.IntegrationApp/Properties/launchSettings.json
/Ringer.Data.Kamailio/Properties/launchSettings.json
/Ringer.Data.KeyValue/Properties/launchSettings.json
/Ringer.Data.MySql/Properties/launchSettings.json
/Ringer.Service.BillingService/Properties/launchSettings.json
/Ringer.Service.BillingService/Properties
/Ringer.Function.Setup.Test/Properties/launchSettings.json
/Ringer.Function.Setup.Test/Properties
/Ringer.Function.Base/Properties/launchSettings.json
/Ringer.Function.Base/Properties
/Ringer.Entities.Ringer/Properties/launchSettings.json
/Ringer.Entities.Ringer/Properties
/Ringer.Entities.Asterisk/Properties/launchSettings.json
/Ringer.Entities.Asterisk/Properties
/Ringer.Deployment.DatabaseChanges/Properties/launchSettings.json
/Ringer.Deployment.DatabaseChanges/Properties
/Ringer.Data.Workspace/Properties/launchSettings.json
/Ringer.Data.Workspace/Properties
/Ringer.Data.SipTrunk/Properties/launchSettings.json
/Ringer.Data.SipTrunk/Properties
/Ringer.Data.Queue/Properties/launchSettings.json
/Ringer.Data.Queue/Properties
/Ringer.Data.Partner/Properties/launchSettings.json
/Ringer.Data.Partner/Properties
/Ringer.Data.Organization/Properties/launchSettings.json
/Ringer.Service.DialerService/Properties/launchSettings.json
/Ringer.Service.DialerService/Properties
/Ringer.Service.DashboardService/Properties/launchSettings.json
/Ringer.Service.DashboardService/Properties
/Ringer.Service.CallService/Properties/launchSettings.json
/Ringer.ThirdParty.Serpro/Properties/launchSettings.json
/Ringer.ThirdParty.Serpro/Properties
/Ringer.Service.WorkspaceService/Properties/launchSettings.json
/Ringer.Service.WorkspaceService/Properties
/Ringer.Service.UserService/Properties/launchSettings.json
/Ringer.Service.UserService/Properties
/Ringer.Service.SipTrunkService/Properties/launchSettings.json
/Ringer.Service.SipTrunkService/Properties
/Ringer.Service.SimulationService/Properties/launchSettings.json
/Ringer.Service.SimulationService/Properties
/Ringer.Service.SignupService/Properties/launchSettings.json
/Ringer.Service.SignupService/Properties
/Ringer.Service.RouteService/Properties/launchSettings.json
/Ringer.Service.RouteService/Properties
/Ringer.Service.Replication/Properties/launchSettings.json
/Ringer.Service.Replication/Properties
/Ringer.Service.QueueService/Properties/launchSettings.json
/Ringer.Service.QueueService/Properties
/Ringer.Service.PhoneService/Properties/launchSettings.json
/Ringer.Service.PhoneService/Properties
/Ringer.Service.Organization/Properties/launchSettings.json
/Ringer.Service.Organization/Properties
/Ringer.Service.MusicService/Properties/launchSettings.json
/Ringer.Service.MusicService/Properties
/Ringer.Service.LogService/Properties/launchSettings.json
/Ringer.Service.LogService/Properties
/Ringer.Service.IntegrationMaintenanceService/Properties/launchSettings.json
/Ringer.Validation.Route/Properties/launchSettings.json
/Ringer.Validation.SipTrunk/Properties/launchSettings.json
/Ringer.Validation.User/Properties/launchSettings.json
/RingerBase.Data.EntityFramework/Properties/launchSettings.json
/RingerBase.Data.EntityFramework/Properties
/RingerBase.Data.DynamoDb/Properties/launchSettings.json
/RingerBase.Data.DynamoDb/Properties
/RingerBase.Common.Validators/Properties/launchSettings.json
/RingerBase.Common.Validators/Properties
/RingerBase.Common.Json/Properties/launchSettings.json
/RingerBase.Common.Json/Properties
/RingerBase.Common.Id/Properties/launchSettings.json
/RingerBase.Common.Id/Properties
/RingerBase.Common.FluentValidation/Properties/launchSettings.json
/RingerBase.Common.FluentValidation/Properties
/RingerBase.Common.Extensions/Properties/launchSettings.json
/RingerBase.Common.Extensions/Properties
/RingerBase.Aws.Storage/Properties/launchSettings.json
/RingerBase.Aws.Storage/Properties
/RingerBase.Aws.StepFunction/Properties/launchSettings.json
/RingerBase.Aws.StepFunction/Properties
/RingerBase.Aws.Shared/Properties/launchSettings.json
/RingerBase.Aws.Shared/Properties
/RingerBase.Aws.Lambda/Properties/launchSettings.json
/RingerBase.Aws.Lambda/Properties
/RingerBase.Aws.EventBridge/Properties/launchSettings.json
/RingerBase.Aws.EventBridge/Properties
/RingerBase.Aws.Cognito/Properties/launchSettings.json
